<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <appSettings>
        <!--WebcamName must always be specified-->
        <add key="WebcamName" value="Integrated WebCam"/>
        <!--If your computer names multiple cameras the same, specify the device ID. 
           This is called "Device Instance Path" in Device Manager.
	   	   It looks something like "USB\VID_046D&PID_0825\6&12345678&0&2">-->
		<add key="WebcamDeviceId" value=""/>
        <add key="EnableVerboseLogging" value="false"/>
    </appSettings>
</configuration>
